NEXT_PUBLIC_SITE_URL=https://ruunion-test-v1-f98f20.ingress-comporellon.ewp.live
WORDPRESS_BASE_URL=https://ruunion-test-v1-f98f20.ingress-comporellon.ewp.live
WORDPRESS_API_URL=https://ruunion-test-v1-f98f20.ingress-comporellon.ewp.live/wp-json
WOOCOMMERCE_STORE_API_URL=https://ruunion-test-v1-f98f20.ingress-comporellon.ewp.live/wp-json/wc/store
YOAST_API_URL=https://ruunion-test-v1-f98f20.ingress-comporellon.ewp.live/wp-json/yoast/v1
