NEXT_PUBLIC_SITE_URL=http://localhost:3000
WORDPRESS_BASE_URL=http://localhost/ruunion
WORDPRESS_API_URL=http://localhost/ruunion/wp-json
WOOCOMMERCE_STORE_API_URL=http://localhost/ruunion/wp-json/wc/store
WOOCOMMERCE_API_URL=http://localhost/ruunion/wp-json/wc/v3
YOAST_API_URL=http://localhost/ruunion/wp-json/yoast/v1
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
